<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    {% if blog %}
        <title>{{ blog.title }}</title>
    {% endif %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img class="d-inline-block align-text-top" src="{% static 'icons/briefcase.svg' %}" width="40" height="32" alt=""/> Personal Portfolio
            </a>
            <button class="navbar-toggler collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="height: 46px"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarColor02" style="">
                <ul class="navbar-nav me-auto mb-lg-0">
                    <li class="nav-item me-2 p-2">
                        <a class="nav-link" href="{% static 'portfolio/resume.pdf' %}">Resume</a>
                    </li>
                    <li class="nav-item me-2 p-2">
                        <a class="nav-link" href="https://twitter.com/HaSSaNDoodiyan">twitter</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link" href="{% url 'blog:blog' %}"><button class="btn btn-primary">Blog</button></a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <script src="{% static '/js/bootstrap.bundle.js' %}"></script>
</body>
</html>