{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="text-center">
            <h1 class="lh-base">Hello<hr/>This is my personal portfolio</h1>
            <div class="card mx-auto" style="width: 20rem;">
                <img src="{% static 'portfolio/images/personal_pic.jpg' %}" alt="Personal image"/>
                <div class="card-body">
                    <p class="card-text">This is me <b>"Hassan Doodiyan"</b>.
                    <hr/>
                    This pic is taken on a cold night in ahvaz.</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container text-center">
        <hr />
        <h2 class="h2">List of projects</h2>
        <div class="row mx-auto">
            {% for project in projects %}
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 card mx-auto m-3" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title p-2">{{ project.title }}</h4>
                        <p class="card-text p-2">{{ project.descriprtion }}</p>
                        <img class="p-2" src="{{ project.image.url }}" height="200px" />
                        <br>
                        {% if project.url %}
                            <a href="{{ project.url }}" class="btn btn-primary">Go to Project</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}