{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <title>Blog</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img class="d-inline-block align-text-top" src="{% static 'icons/briefcase.svg' %}" width="40" height="32" alt=""/> Personal Portfolio
            </a>
            <button class="navbar-toggler collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="height: 46px"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarColor02" style="">
                <ul class="navbar-nav me-auto mb-lg-0">
                    <li class="nav-item me-2 p-2">
                        <a class="nav-link" href="{% static 'portfolio/resume.pdf' %}">Resume</a>
                    </li>
                    <li class="nav-item me-2 p-2">
                        <a class="nav-link" href="https://twitter.com/HaSSaNDoodiyan">twitter</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link" href="{% url 'blog:blog' %}"><button class="btn btn-primary">Blog</button></a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container text-center">
        <h1>This site has {{ blogs.count }} blog{{ blogs.count|pluralize }}</h1>
        <h2 class="h2">List of blogs</h2>
        <div class="row mx-auto">
            {% for blog in blogs %}
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 card mx-auto m-3 align-content-center" style="width: 18rem; height:15rem;">
                    <div class="card-body">
                        <a href="{% url 'blog:detail' blog.id %}"><h4 class="card-title p-2">{{ blog.title }}</h4></a>
                        <p class="h6">{{ blog.date_created|date:'l F dS Y -- H:i' }}</p>
                        <p class="card-text p-2">{{ blog.description|striptags|truncatechars:100 }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static '/js/bootstrap.bundle.js' %}"></script>
{#    <form action="{% url 'blog:blog'  %}" method="get">#}
{#        <input type="submit" name="prev" value="Prev"/>#}
{#        <label for="page_number" id="page_number">{{ page_number }} </label>#}
{#        <label for="page_number" id="page_number">/ {{ all_pages }}</label>#}
{#        <input type="submit" name="next" value="Next"/>#}
{#    </form>#}

</body>
</html>