<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for blog in blogs %}
        <h2>{{ blog.title }}</h2>
        <p>{{ blog.date_created }}</p>
        <p>{{ blog.description }}</p>
        <hr>
    {% endfor %}
    <form action="{% url 'blogs' %}" method="get">
        <input type="submit" name="prev" value="Prev"/>
        <label for="page_number" id="page_number">{{ page_number }} </label>
        <label for="page_number" id="page_number">/ {{ all_pages }}</label>
        <input type="submit" name="next" value="Next"/>
    </form>

</body>
</html>